{% extends "base.html" %}

{% block style %}
<style>
    body{
        font-family: 'Bebas Neue', cursive;
    }
    .wrapper {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

        background-color: white;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border-radius: 3px;
        border: 3px solid rgb(0, 0, 0);

        padding: 25px 25px 25px 25px;
    }

	h2 {
        text-align:center;
        margin-top:10px;
        margin-bottom:10px;
        letter-spacing: 1px;
    }

	.string_input input {
		height:40px;
        width: 85%;

        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border-radius: 3px;
        border: 3px solid rgb(0, 0, 0);

        font-family: 'Inria Sans', sans-serif;
        letter-spacing: 1px;
        height:40px;
        outline: none;
        padding: 0px 15px 0px 20px;
        font-size:14px;
	}

    #signup_button{
        position:relative;
        top:20px;
    }

    #signup_button input {
		height:35px;
        position:relative;
        padding: 0 2vh 0 2vh;
        padding:none;
        line-height: 0px;
        border:none;
        bottom:20px;
        background-color: #8eb8f3;

        font-family: 'Bebas Neue', cursive;
        font-size:16px;

        letter-spacing: 1px;
        border-radius: 3px;

        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border: 3px solid rgb(0, 0, 0);
        cursor: pointer;
    }
    #signup_button input:hover{
        filter: brightness(80%);
    }


    label {
        position:relative;
        bottom:5px;
    }

    @media screen and (max-width: 500px){
        .wrapper {
            width:70%;
        }
    }


</style>
{% endblock %}

{% block content %}
    
    <div class="wrapper">
    <h2>Sign Up</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class = "string_input">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        </div>
        <p id="signup_button">{{ form.submit() }}</p>
{% endblock %}