{% extends "base.html" %}

{% block script %}
    <script rel="javascript" type="text/javascript" src="{{ url_for('static', filename='js/libraries/matter.js') }}"></script> <!-- Matter.js -->

    <script>
        var imageList = {{ images|tojson }};
        // fix dynamic static folder
        var staticFolder = "{{ url_for('static', filename='') }}";
    </script>

    <script src="{{ url_for('static', filename='js/components/boundary.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/stack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/background.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/box.js') }}"></script>

    <script rel="javascript" type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block style %}
<style>
    body{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        -webkit-tap-highlight-color:  transparent;
    }
    h1 {
        font-size: 3vw;
    }
    .header {
        position: absolute;
        display:flex;
        padding: 0px;
        margin-left: 35px;
    }
    #matter{
        position: absolute;
        bottom:0;
        background-color: #343e4e;
    }
    .panel{
        position:absolute;
        right:50px;
        top:50px;
        display: grid;
        row-gap: 30px;
    }
    .menu{
        display: none;
        position: fixed;
        display: flex;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .menu button{
        margin: 10px;
    }
    button{
        display:flex;
        justify-content: center;
        align-items: center;
        
        width: 4.5vw;
        height: 4.5vw;

        font-size: 3vw;

        color:black;
        background-color: #a0e167; 
        border-radius: 3px;
        border: 3px solid black;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);

        cursor: pointer;
    }
    button:hover{
        filter: brightness(0.9);
    }
    i:hover {
        cursor: pointer;
        filter: brightness(0.7);
    }
    a{
        text-decoration: none;
    }
    #add{

    }
    @media screen and (max-width: 800px){
        h1{
            font-size: 20px;
        }
        button{
            font-size: 20px;
            width: 30px;
            height: 30px;
        }
        .menu{
            display: flex;
        }
        .panel{
            display: none;
        }
    }
    @media screen and (min-width: 801px){
        .menu{
            display: none;
        }
        .panel{
            display: grid;
        }
    }
    
</style>
{% endblock %}

{% block content %}
    <div class="header">
        <h1>{{ user }}</h1>
    </div>
    <div class="panel">
        <button id="add"><i id="add" class="fa-solid fa-plus"></i></button>
        <button id="gravity"><i id="gravity" class="fa-solid fa-globe"></i></button>
        <button id="clear"><i id="clear-bodies" class="fa-solid fa-broom"></i></button>
        <button id = "reset"><i id="reset-bodies"class="fa fa-refresh"></i></button>
        <a id = "link" href = "https://www.instagram.com/jmthrcreator/"><button><i id="page-link" class="fa-solid fa-link"></i></button></a>
    </div>
    <div class="menu">
        <button id="add"><i id="add" class="fa-solid fa-plus"></i></button>
        <button id="gravity"><i id="gravity" class="fa-solid fa-globe"></i></button>
        <button id="clear"><i id="clear-bodies" class="fa-solid fa-broom"></i></button>
        <button id = "reset"><i id="reset-bodies"class="fa fa-refresh"></i></button>
        <a id = "link" href = "https://www.instagram.com/jmthrcreator/"><button><i id="page-link" class="fa-solid fa-link"></i></button></a>
    </div>
{% endblock %}

