{% extends "base.html" %}

{% block script %}
    <script rel="javascript" type="text/javascript" src="static/js/index.js"></script>
    <script>
        let suggestions = {{ usernames|tojson }};

        // Get elements
        const searchWrapper = document.querySelector(".search-input");
        const inputBox = searchWrapper.querySelector("input");
        const suggestionBox = searchWrapper.querySelector(".autocom-box");

        // Key
        inputBox.onkeyup = (e)=>{
            let searchData  = e.target.value;
            let itemArray = [];

            if (searchData) {
                itemArray = suggestions.filter((data)=>{
                    // filter the data
                    return data.toLocaleLowerCase().startsWith(searchData.toLocaleLowerCase());
                });
                // only first 5 items
                itemArray = itemArray.slice(0,5);
                itemArray = itemArray.map((data)=>{
                    return data = "<a href = {{ url_for('main.gallery', user='') }}" + data + "><li>" + data + "</li></a>";
                });
                if (itemArray.length > 0) searchWrapper.classList.add("active");
                else searchWrapper.classList.remove("active");
            }
            else searchWrapper.classList.remove("active");
            showSuggestions(itemArray);
        }

        function showSuggestions(list){
            let listData;
            if (!list.length){
                itemArray = inputBox.value;
                listData = list.join("");
                suggestionBox.innerHTML = listData;
            }
            else {
                listData = list.join("");
                suggestionBox.innerHTML = listData;
            }
            suggestionBox.innerHTML = listData;
        }
    </script>

{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
{% endblock %}

{% block style %}
<style>
    body{
        font-family: 'Bebas Neue', cursive;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
    }
    h1 {
        font-size: 3vw;
    }
    h2{
        font-size: 2vw;
    }
    .header{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:25px;
    }
    .header button {
        position: relative;
        margin: 0 1vw 0 1vw;
        border: none;

        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        border-radius: 3px;

        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border: 3px solid rgb(0, 0, 0);
    }
    .header button:hover{
        cursor: pointer;
        filter: brightness(0.9);
    }
    .button-group {
        margin-left:auto;
    }
    #signup_button{
        padding: 0 2vh 0 2vh;
        padding:none;
        line-height: 0px;
        background-color: #b87be7;
    }
    #login_button{
        padding: 0 2vh 0 2vh;
        line-height: 0px;
        background-color: #a0e167;
        
    }
    #logout{
        padding: 0 2vh 0 2vh;
        padding:none;
        line-height: 0px;
        background-color: #b87be7;
    }
    #profile {
        padding: 0 2vh 0 2vh;
        line-height: 0px;
        background-color: #a0e167;
    }
    #profile:hover{
        cursor: pointer;
        filter: brightness(0.7);
    }




    .search-input.active .autocom-box{
        padding:10px;
        opacity:1;
        pointer-events: auto;
    }
    .search-input.active .autocom-box li{
        display: block;
    }
    
    .wrapper {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -0);
    }   
    .wrapper .search-input{
        background-color: white;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border-radius: 3px;
        border: 3px solid rgb(0, 0, 0);
    }
    .search-input input{
        width: 300px;
        font-family: 'Inria Sans', sans-serif;
        letter-spacing: 1px;
        height:40px;
        outline:none;
        border:none;
        padding: 0px 15px 0px 20px;
        font-size:16px;
    }
    .search-input .autocom-box{
        max-height: 280px;
        opacity:0;
    }
    .autocom-box li{
        font-family: 'Inria Sans', sans-serif;
        letter-spacing: 1px;
        padding: 7px 10px 7px 10px;
        cursor: pointer;
        border-radius: 3px;
        display:none;
    }
    .autocom-box li:hover{
        background: rgb(236, 236, 236);
    }
    .autocom-box a{
        text-decoration: none;
        color: black;
    }

    @media screen and (max-width: 800px){
        
        .wrapper{
            max-width: 75%;
        }
        .wrapper .search-input{
            border: 2px solid rgb(0, 0, 0);
        }
        .header button{
            border: 2px solid rgb(0, 0, 0);
        }
        .search-input input{
            width: 120px;
        }
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        .search-input input{
            font-size:14px;
            width: 250px;
            height: 35px;
            padding: 0px 0px 0px 20px;
        }
        .autocom-box {
            font-size:14px;
        }
    }


</style>
{% endblock %}

{% block content %}
    <form action="{{ url_for('main.index') }}" method="post">
        <div class="header">
            <h1 style="position:absolute; left:30px">Gravity Gallery</h1>
            <div class="button-group">
            {% if authenticated == False %}
                <button id="login_button" type="submit" name="login"><h2>Log In</h2></button>
                <button id="signup_button" type="submit" name="signup"><h2>Sign Up</h2></button>
            {% else %}
                <button id="logout" type="submit" name="logout"><h2>Log Out</h2></button>
                <a id="profile" href="{{ url_for('main.profile') }}"><h2>Edit Page</h2></a>
            {% endif %}
            </div>
        </div>
        <div class="wrapper">
            <div class="search-input">
                <input type="text" id="search-input" name="search" placeholder="Search" autocomplete="off">
                <div class="autocom-box"></div>
            </div>
        </div>
{% endblock %}

