{% extends "base.html" %}

{% block script %}
    <script rel="javascript" type="text/javascript" src="static/js/popup.js"></script> <!-- matter.js -->
{% endblock %}

{% block style %}
<style>
    body{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
    }
    h1{
        font-size: 3vw;
    }
    h2 {
        font-size: 2vw;
    }
    .grid {
        display: grid;
        position: absolute;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        top: 100px;
        left: 50%;
        
        transform: translate(-50%, 0);
    }
    .container button {
        width: 30px;
        height: 30px;

        font-size: 20px;

        display:flex;
        justify-content: center;
        align-items: center;
        
        background-color: transparent;
        border: none;
        position: absolute;
        right:6px;
        top:3px;

        color:black;
        background-color: rgb(207, 93, 93);
        border-radius: 3px;
        border: 3px solid black;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
    }
    .container button:hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
    .container{
        position: relative;
        width: 20vw;
        display: inline-block;
        margin: 1vw 2vw 1vw 2vw;
    }
    .container img{
        width: 20vw;
    }
    .header{
        display:flex;
        align-items: center;
        margin-top:25px;
    }
    .header button {
        position:relative;
        background-color: transparent;
        border: none;

        font-family: 'Bebas Neue', cursive;
        font-size:15px;
        border-radius: 3px;
        border: 3px solid black;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);

        margin: 0 1vw 0 1vw;
    }
    .button-group {
        display: flex;
        margin-left:auto;
    }
    #add {
        display:flex;
        justify-content: center;
        align-items: center;

        font-size: 3vw;

        background-color: #a0e167; 

    }
    button:hover{
        cursor: pointer;
        filter: brightness(0.9);
    }
    #edit-link{
        letter-spacing: 1px;
        padding: 0 2vh 0 2vh;
        padding:none;
        line-height: 0px;
        background-color: #b87be7;
    }
    #home {
        background-color: #7bafe7;
        width: 4vw
    }
    #home a{
        font-size: 2vw;
        text-decoration: none;
        color: black;
    }
    .popup{
        display:none;

        padding: 25px 40px 25px 25px;
        width: 500px;
        height: 300px;
        text-align: center;
        flex-direction: column;
        justify-content: top;
        align-items: center;

        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

        background-color: white;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border-radius: 3px;
        border: 3px solid rgb(0, 0, 0);

        padding: 25px 25px 25px 25px;
    }
    .sumbit{
        font-family: 'Bebas Neue', cursive;
        position: relative;
        float: right;
        letter-spacing: 1px;
        font-size:16px;
        cursor: pointer;
        border: 3px solid #000000;
        border-radius: 3px;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        padding: 0 2vh 0 2vh;
        height:35px;
        background-color: #b87be7;
        font-weight: bold;
    }
    .image_upload{
        font-family: 'Inria Sans', sans-serif;
        letter-spacing: 1px;
        height:40px;
        outline: none;
        padding: 0px 15px 0px 20px;
        font-size:14px;
    }
    .image_upload::-webkit-file-upload-button{
        font-family: 'Bebas Neue', cursive;
        position: relative;
        letter-spacing: 1px;
        font-size:16px;
        cursor: pointer;
        border: 3px solid #000000;
        border-radius: 3px;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        padding: 0 2vh 0 2vh;
        height:35px;
        background-color: #8eb8f3;
        margin-right: 20px;
        font-weight: bold;
    }

    .link-field {
        background-color: white;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
        border-radius: 3px;
        border: 3px solid rgb(0, 0, 0);

        width: 400px;
        font-family: 'Inria Sans', sans-serif;
        letter-spacing: 1px;
        height:30px;
        padding: 0px 15px 0px 20px;
        font-size:16px;

    }
    .link-field:focus{
        outline: none;
    }
    #clear {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        top:15px;
        right:15px;

        cursor:pointer;

        width: 30px;
        height: 30px;

        font-size: 20px;

        color:black;
        background-color: rgb(207, 93, 93);
        border-radius: 3px;
        border: 3px solid black;
        box-shadow: 3px 3px 0px rgba(0,0,0,1);
    }
    #clear :hover{
        filter: brightness(0.7);
    }
    
    
    @media screen and (max-width: 800px){
        
        h1 {
            font-size: 20px;
        }
        .header button{
            height: 30px;
        }
        #add{
            font-size: 20px;
            width: 30px;
        }
        #home {
            display:flex;
            justify-content: center;
            align-items: center;

            background-color: #7bafe7;
            width: 30px;
        }
        #home a{
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
        h2 {
            font-size: 15px;
        }
        .container button{
            font-size: 20px;
            width: 30px;
            height: 30px;
        }
        #clear {
            font-size: 20px;
            width: 30px;
            height: 30px;
        }
    }
    @media screen and (max-width: 600px){
        .grid{
            grid-template-columns: repeat(2, 1fr);
        }
        .container{
            position: relative;
            width: 30vw;
            display: inline-block;
            margin: 1vw 2vw 1vw 2vw;
        }
        .container img{
            width: 30vw;
        }
        .popup{
            width:70%;
        }
        .link-field{
            width:50vw;
        }
        .image_upload{
            position:absolute;
            left:1vw;
            width: 70vw;
        }
        .image_upload::-webkit-file-upload-button{
            height: 30px;
            font-size: 15px;
        }
        .sumbit{
            height: 30px;
            font-size: 15px;
            margin-right: 0px;
        }
        #popup-add .sumbit{
            margin-top:20px;
        }
    }

</style>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ imageForm.hidden_tag() }}
    {{ linkForm.hidden_tag() }}
    <div class="header">
        <h1 style="position:absolute; left:30px">Edit Gallery</h1>
        <div class="button-group">
            <button type=button id="add" onclick="showPopup(this.id)"><i class="fa-solid fa-plus"></i></button>
            <button type=button id="edit-link" onclick="showPopup(this.id)"><h2>Edit Link</h2></button> 
            <button type=button id="home" onclick=""><a href = "{{ url_for('main.index') }}"><i class="fa-solid fa-house"></i></a></button>
        </div>
    </div>
    <div class="grid">
        {% for image in images %}
        <div class="container">    
                <img src="{{image.path}}"></img>
                <button name="remove" value={{image.path}} type="submit"><i class="fa-solid fa-remove"></i></button>
        </div>
        {% endfor %}
    </div>
    <div id="popup-add" class="popup">
        <button type=button id="clear" onclick="clearPopup(this.id)"><i class="fa-solid fa-remove"></i></button>
        <h2>Upload Image</h2>
        <p>{{ imageForm.file(class="image_upload") }}</p>
        <p>{{ imageForm.submit(class="sumbit") }}</p>
    </div>

    <div id="popup-edit-link" class="popup">
        <button type=button id="clear" onclick="clearPopup(this.id)"><i class="fa-solid fa-remove"></i></button>
        <h2>Edit Link</h2>
        <p>{{ linkForm.link(class="link-field", value=link) }}</p>
        <p>{{ linkForm.submit(class="sumbit") }}</p>
    </div>

</form>
{% endblock %}